.subTitle {
    margin-left: 20px;
}
table {
    /* width: 100%; */
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
}
table th:last-child {
    border-right: 1px solid #3c6690;
}
table th{
    text-align: left;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    /* width: 25%; */
    padding: 5px 10px;
}
table td{
    text-align: left;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    /* width: 25%; */
    padding: 5px 10px;
    /* background-color: #ffffff; */
  }
table td:last-child{
  border-right: 1px solid #a8b7c5;
}
#tbl1, #tbl2 {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #ffffff;
}

#tbl1 .th-1,
#tbl2 .th-1 {
    width: 50px;
}
#tbl1 .th-2,
#tbl2 .th-2 {
    width: 300px;
}

.selectType1 {
    width: 200px;
    height: 20px;
}
