<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SError</title>
</head>
<body>
    <div>
        アプリケーションに障害が発生しております。
    </div>
    <div>
        ご迷惑をおかけしております。
    </div>
    <div>
        しばらく時間をおいてからのアクセスをお願いします。
    </div>
    <div>
        時間をおいても復旧しない場合には、システム管理者までご連絡をお願いします。
    </div>
</body>
</html>
