<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <CSVFileName>
    <management_01>shiiresakiMst.csv</management_01>
    <management_02>shokuzaiMst.csv</management_02>
    <management_03>ryoriMst.csv</management_03>
    <management_04>hanseihinMst.csv</management_04>
    <management_05>userMst.csv</management_05>
  </CSVFileName>
  
  <Category>
    <Max>10</Max>
  </Category>

  <Question>
    <Max>20</Max>
  </Question>

  <APIKey>
    <Digit>20</Digit>
    <DeadlineMinutes>60</DeadlineMinutes>
  </APIKey>

  <Mail>
    <SMTPHost>smtp.gmail.com</SMTPHost>
    <SMTPPort>465</SMTPPort>
    <IsSSLConnection>true</IsSSLConnection>
    <SMTPAccount>@gmail.com</SMTPAccount>
    <SMTPPassword></SMTPPassword>
    <MustAuthenticate>true</MustAuthenticate>
    <SendEmailAddress>@gmail.com</SendEmailAddress>
    <SendMailerName>HACCP Extender</SendMailerName>
    <SYSTEMNAME>HACCP Extender</SYSTEMNAME>
  </Mail>

  <MiddleRequestMail>
    <Subject>%SYSTEMNAME%：%CATEGORY%_%LOCATION%を確認してください。</Subject>
    <BodyTemplate>/template/middleRequest.txt</BodyTemplate>
    <ContentType>TEXT</ContentType>
  </MiddleRequestMail>
  
  <MajorRequestMail>
    <Subject>%SYSTEMNAME%：%CATEGORY%を確認してください。</Subject>
    <BodyTemplate>/template/majorRequest.txt</BodyTemplate>
    <ContentType>TEXT</ContentType>
  </MajorRequestMail>

  <FacilityRequestMail>
    <Subject>%SYSTEMNAME%：全体のデータを確認してください。</Subject>
    <BodyTemplate>/template/facilityRequest.txt</BodyTemplate>
    <ContentType>TEXT</ContentType>
  </FacilityRequestMail>

  <MajorRemandMail>
    <Subject>【差戻】%SYSTEMNAME%：%CATEGORY%_%LOCATION%が差戻されました。内容を確認してください。</Subject>
    <BodyTemplate>/template/majorRemand.txt</BodyTemplate>
    <ContentType>TEXT</ContentType>
  </MajorRemandMail>

  <FacilityRemandMail>
    <Subject>【差戻】%SYSTEMNAME%：%CATEGORY%が差戻されました。内容を確認してください。</Subject>
    <BodyTemplate>/template/facilityRemand.txt</BodyTemplate>
    <ContentType>TEXT</ContentType>
  </FacilityRemandMail>

  <AbnormalDataWarning>
    <Subject>【重要】%SYSTEMNAME%：%CATEGORY%_%LOCATION%で基準に反するデータが登録されました。</Subject>
    <BodyTemplate>/template/inputDataWarning.txt</BodyTemplate>
    <ContentType>TEXT</ContentType>
  </AbnormalDataWarning>
  
  <WorkerM>
    <InitShopId>99999</InitShopId>
    <InitWorkerId>99999</InitWorkerId>
  </WorkerM>

  <ManualM>
    <ManualFileNameDelimiter>_</ManualFileNameDelimiter>
  </ManualM>

  <Screenexplanation>
    <IndustrySelection></IndustrySelection>
    <InitioalDataPreview></InitioalDataPreview>
    <Top></Top>
    <Manager></Manager>
    <DataHistory></DataHistory>
    <ReportDownload></ReportDownload>
    <PendingApproval></PendingApproval>
    <MiddleApproval></MiddleApproval>
    <MajorApproval></MajorApproval>
    <FacilityApproval></FacilityApproval>
    <ApprovalDataDetail></ApprovalDataDetail>
    <categoryM>document/screenExplanation/categoryM.pdf</categoryM>
    <WorkerM></WorkerM>
    <locationM></locationM>
    <QuestionM></QuestionM>
    <ReportM></ReportM>
    <ApprovalRoute></ApprovalRoute>
    <Approvaler></Approvaler>
    <Temperature></Temperature>
    <MachineM></MachineM>
    <Supplier></Supplier>
    <Foodstuff></Foodstuff>
    <Semifinishedproduct></Semifinishedproduct>
    <Cuisine></Cuisine>
    <Usermst></Usermst>
  </Screenexplanation>

  <Notification>
    <Retention>1</Retention>
  </Notification>

  <Storage>
    <FolderName>document</FolderName>
    <Report>report</Report>
    <Manual>manual</Manual>
    <Image>images</Image>
    <Digit>5</Digit>
  </Storage>

  <URLParam>
    <URL>/Init/NotificationProcess</URL>
    <ShopId>s</ShopId>
    <Mode>mode</Mode>
    <CategoryId>ca</CategoryId>
    <LocationId>lo</LocationId>
    <ReportId>r</ReportId>
    <PeriodId>per</PeriodId>
    <PeriodStart>pers</PeriodStart>
  </URLParam>
</configuration>
