<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-2.0"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <!--<appender-ref ref="EventLogAppender" />-->
    </root>
    <appender name ="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--保存場所を定義する-->
      <param name="File" value ="App_Data\"/>
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="10240" />
      <param name="StaticLogFileName" value="false" />
      <!--ファイル名フォーマット-->
      <param name="DatePattern" value="'log_'yyyy_MM_dd'.txt'" />
      <param name="RollingStyle" value ="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--ログフォーマットを定義する-->
        <!--sample 2018-08-20 12:10:49,348 -ThreadID:[21] LogLevel:[INFO ] : [logMessage]-->
        <param name="ConversionPattern" value="%date ThreadID:[%thread] LogLevel:[%-5level] : [%message]%newline"/>
      </layout>
      <!--filter level FATAL > ERROR > WARN > INFO > DEBUG-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"></conversionPattern>
      </layout>
    </appender>
  </log4net>
</configuration>